
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var urlReferrer = Request.UrlReferrer;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<!-- ======= Header index ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1><a href="/Home/Index">Maderera<span>Carocho</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="~/Content/assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto " href="/Home/Index">Inicio</a></li>
                <li><a class="nav-link scrollto" href="/Home/Admin/#about">Sobre</a></li>
                <li><a class="nav-link scrollto" href="/Home/Admin/#services">Servicios</a></li>
                <li><a class="nav-link scrollto " href="/Home/Admin/#portfolio">Portafolio</a></li>
                <li><a class="nav-link scrollto" href="/Home/Admin/#team">Equipo</a></li>
                <li><a class="nav-link scrollto" href="/Home/Admin/#contact">Contacto</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header index -->
<div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="card bg-danger text-white">
                    <div class="card-header text-center">
                        <h1><i class="fas fa-sad-tear fa-3x mr-3"></i>¡Oh no! Hubo un error.</h1>
                    </div>
                    <div class="card-body">
                        @if (!String.IsNullOrEmpty(ViewBag.Error))
                        {
                            <p class="lead">@ViewBag.Error</p>
                        }
                        <p>Lo sentimos, algo salió mal durante el proceso. Por favor, inténtalo de nuevo más tarde.</p>
                        @if (urlReferrer != null)
                        {
                            <button onclick="location.href='@urlReferrer'">Volver</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
