
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ======= Header index ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1><a href="/Home/Index">Maderera<span>Carocho</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="~/Content/assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto " href="/Home/Index">Inicio</a></li>
                <li><a class="nav-link scrollto" href="/Home/Admin/#about">Sobre</a></li>
                <li><a class="nav-link scrollto" href="/Home/Admin/#services">Servicios</a></li>
                <li><a class="nav-link scrollto " href="/Home/Admin/#portfolio">Portafolio</a></li>
                <li><a class="nav-link scrollto" href="/Home/Admin/#team">Equipo</a></li>
                <li><a class="nav-link scrollto" href="/Home/Admin/#contact">Contacto</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header index -->
<div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center><h1>PRODUJO UN ERROR AL INTENTAR REALIZAR LA ACCION</h1></center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
